<div class="col-md-6">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="SemesterCode">SemesterCode:</label>
      <input type="SemesterCode" formControlName="SemesterCode" placeholder="SemesterCode" name="SemesterCode" class="form-control" id="SemesterCode">
    </div>

    <div class="form-group">
      <label for="SemesterName">SemesterName:</label>
      <input formControlName="SemesterName" placeholder="SemesterName" name="SemesterName" class="form-control" id="SemesterName">
    </div>

    <div class="form-group">
      <label for="SKS">SKS:</label>
      <input formControlName="SKS" placeholder="SKS" name="SKS" class="form-control" id="SKS">
    </div>

    <button class="btn btn-success">SAVE</button>
  </form>
</div>


