<div class="col-md-6">
  <h2 class="text-center">Edit Program Study Details</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="ProgramStudyCode">ProgramStudyCode:</label>
      <input formControlName="ProgramStudyId" type="text" name="ProgramStudyId" id="ProgramStudyId" style="display: none" />
      <input  formControlName="ProgramStudyCode" placeholder="ProgramStudy Code" name="ProgramStudyCode" class="form-control" id="ProgramStudyCode">
    </div>

    <div class="form-group">
      <label for="ProgramStudyName">ProgramStudyName:</label>
      <input formControlName="ProgramStudyName" placeholder="ProgramStudy Name" name="ProgramStudyName" class="form-control" id="ProgramStudyName">
    </div>

    <div class="form-group">
      <label for="AcademicTerm">Academic Term:</label>
      <input formControlName="AcademicTerm" placeholder="AcademicTerm" name="AcademicTerm" class="form-control" id="AcademicTerm">
    </div>

    <div class="form-group">
      <label for="SKS">SKS:</label>
      <input formControlName="SKS" placeholder="SKS" name="SKS" class="form-control" id="SKS">
    </div>

    <!-- <div class="form-group">
      <label for="UniversityId">UniversityId:</label>
      <input formControlName="UniversityId" placeholder="University Id" name="UniversityId" class="form-control" id="UniversityId">
    </div> -->
    <button class="btn btn-success">Update</button>
  </form>
</div>






