<!-- <div class="col-md-6">
  <h2> Program Study Details</h2>
  <button class="btn btn-danger" (click)="addUser()"> Add User</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">ProgramStudyId</th>
      <th>ProgramStudyCode</th>
      <th>ProgramStudyName</th>
      <th>AcademicTerm</th>
      <th>SKS</th>
      <th>UniversityId</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of programStudyMasters">
      <td class="hidden">{{user.ProgramStudyId}}</td>
      <td>{{user.ProgramStudyCode}}</td>
      <td>{{user.ProgramStudyName}}</td>
      <td>{{user.AcademicTerm}}</td>
      <td>{{user.SKS}}</td>
      <td>{{user.UniversityId}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>
        <button class="btn btn-danger" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div> -->

<p-table [columns]="cols" [value]="programStudyMasters" selectionMode="single" [(selection)]="selectedprogramstudy"  [paginator]="true" [rows]="15">
  <ng-template pTemplate="caption">
      Program Study
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>  
          <th>
              Action
          </th>      
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
          <td>
            <button type="button" pButton icon="fa fa-close"  (click)="deleteUser(rowData)" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check"  (click)="editUser(rowData)" label="Edit"></button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          <button type="button" pButton icon="fa fa-plus" (click)="addUser()" label="Add"></button>
      </div>
  </ng-template>
</p-table>
