
<div class="col-md-6">
  <h2 class="text-center">Add Vehicle Master</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="RegistrationNumber">Registration Number :</label>
      <input type="RegistrationNumber" formControlName="RegistrationNumber" placeholder="Registration Number" name="RegistrationNumber" class="form-control" id="RegistrationNumber">
    </div>

    <div class="form-group">
      <label for="Description"> Description:</label>
      <input formControlName="Description" placeholder=" Description" name="Description" class="form-control" id="Description">
    </div>

    <div class="form-group">
      <label for="OwnerNumber"> OwnerNumber:</label>
      <input formControlName="OwnerNumber" placeholder=" Owner Number" name="OwnerNumber" class="form-control" id="OwnerNumber">
    </div>

    <div class="form-group">
      <label for="WeightCapacity"> WeightCapacity:</label>
      <input formControlName="WeightCapacity" placeholder=" Weight Capacity" name="WeightCapacity" class="form-control" id="WeightCapacity">
    </div>
     <div class="form-group">
      <label for="VehicleStatus"> Vehicle Status:</label>
      <input formControlName="VehicleStatus" placeholder=" Vehicle Status" name="VehicleStatus" class="form-control" id="VehicleStatus">
    </div>

    <button class="btn btn-success">Save</button>
  </form>
</div>