<div class="col-md-6">
  <h2 class="text-center">Add Group</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="GroupCode">GroupCode:</label>
      <input type="GroupCode" formControlName="GroupCode" placeholder="GroupCode" name="GroupCode" class="form-control" id="GroupCode">
    </div>

    <div class="form-group">
      <label for="GroupName">GroupName:</label>
      <input formControlName="GroupName" placeholder="GroupName" name="GroupName" class="form-control" id="GroupName">
    </div>

    <div class="form-group">
      <label for="UniversityId">UniversityId:</label>
      <input formControlName="UniversityId" placeholder="UniversityId" name="UniversityId" class="form-control" id="UniversityId">
    </div>

    <button class="btn btn-success">SAVE</button>
  </form>
</div>


