<div class="col-md-6">
  <h2> Group Details</h2>
  <button class="btn btn-danger" (click)="addGroup()"> Add Group</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">GroupMasterId</th>
      <th>GroupCode</th>
      <th>GroupName</th>
      <th>UniversityId</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groupmasters">
      <td class="hidden">{{group.GroupMasterId}}</td>
      <td>{{group.GroupCode}}</td>
      <td>{{group.GroupName}}</td>
      <td>{{group.UniversityId}}</td>
      <td>
        <button class="btn btn-danger" (click)="editGroup(group)" > Edit</button>
        <button class="btn btn-danger" (click)="deletegroup(group)" style="margin-left: 20px;"> Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

