<div class="col-md-6">
  <h2 class="text-center">Edit Group</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="GroupCode">GroupCode:</label>
      <input formControlName="GroupMasterId" type="text" name="GroupMasterId" id="GroupMasterId" style="display: none" />
      <input  formControlName="GroupCode" placeholder="GroupCode" name="GroupCode" class="form-control" id="GroupCode">
    </div>

    <div class="form-group">
      <label for="GroupName">GroupName:</label>
      <input formControlName="GroupName" placeholder="GroupName" name="GroupName" class="form-control" id="GroupName">
    </div>

    <div class="form-group">
      <label for="UniversityId">UniversityId:</label>
      <input formControlName="UniversityId" placeholder="UniversityId" name="UniversityId" class="form-control" id="UniversityId">
    </div>
    <button class="btn btn-success">Update</button>
  </form>
</div>





