<div class="col-md-6">
  <h2 class="text-center">Update Degree Details</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="DegreeCode">Degree Code:</label>
      <input formControlName="DegreeId" type="text" name="DegreeId" id="DegreeId" style="display: none" />
      <input  formControlName="DegreeCode" placeholder="DegreeCode" name="DegreeCode" class="form-control" id="DegreeCode">
    </div>

    <div class="form-group">
      <label for="DegreeName">DegreeName:</label>
      <input formControlName="DegreeName" placeholder="DegreeName" name="DegreeName" class="form-control" id="DegreeName">
    </div>
    <button class="btn btn-success">Update</button>
  </form>
</div>






